*{
	margin: 0;
	padding: 0;
}

body {
	font-family: poppins;
  background-size: cover;
  background-image: url("gina-carano.jpg");
  background-attachment: fixed;
  background-position: center center;
}
.wrapper {
	width: 100%;
	margin: 0px 0px;
	background-color: #262626;
}
.wrapper h1 {
	font-family: FV ALMELO;
	text-align: center;
	padding: 15px;
	color: whitesmoke;
	font-size: 75px;
	border-bottom: 2px solid #0310EA;
}
.menu-area {
	margin-bottom: 1rem;
	border-bottom: 2px solid #0310EA;
}
.menu-area ul {
	background: #262626;
	list-style: none;
	position: relative;
	text-transform: uppercase;
	text-align: center;
}

.menu-area ul li {
	display: inline-block;
}
.menu-area ul li a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 15px 35px;
	font-weight: bold;
}
.menu-area ul li:hover{
	background: deepskyblue;
}
.menu-area ul li:hover > ul{
	display: block;
}
.menu-area ul ul{
	display: none;
	position: absolute;
	top: 100%;
	background: #262626;
	text-align: left;
}
.menu-area ul ul li{
	position: relative;
	display: block;
	border-bottom: 1px solid #fff;
	width: 210px;
}

iframe {border: 2px solid black;
float: left;
margin-right: 10px;
}

@supports (display: grid) {
	
  main { 
    max-width: 10000px;
    margin: 0px 100px;
  }
  article {
    margin: 0;
  }
  .deals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-template-rows: 250px;
    grid-gap: 1rem;
  }
}
  
.deals {
  font-family: Avenir, Roboto, Helvetica, san-serif; 
  font-size: 80%;
  border: 2px red;
}
.sale-item {
  display: flex;
  flex-flow: column;
  border: 1px solid #bfbfbf;
  border-radius: ;
  padding: 0px;
  background-color: white;
  
/*This is what makes the background trippy
  background-size: cover;
  background-image: url("spaceforce.jpg");
  background-attachment: fixed;
  background-position: center center;
  */
}
a {text-decoration: none;
color: black;
}
.sale-item > h1 {
  margin: 1rem 1rem 0;
  text-align: center;
}
.sale-item > ul {
  margin: ;
}
.sale-item > p {
  margin: ;
}
.sale-item > img {
  order: -1;
  align-self: left;
  height: ;
  object-fit: cover;
}
#headline > img {height: 300px;}

}

/*bring this image down to show the whole head*/

.sale-item > button {
  margin-top: auto; 
  background: #00e600;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
}
.pic {width: 50%;
height: auto;
}
.pic2{max-width: 100%;
height: auto;
}
.sale-item:hover {background-color: #bfbfbf;
}
/*style for the top box*/

 article {
    margin: 0;
  }
.topbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
	margin-bottom: 1rem;
  }
}
  
.topbox {
  font-family: Avenir, Roboto, Helvetica, san-serif; 
  font-size: 80%;
  border: 2px red;
}
.sale-item {
  display: column;
  flex-flow: column;
  border: 1px solid #bfbfbf;
  border-radius: ;
  padding: ;
  background-color: white;
}
 
.author {grid-area: author;
	grid-row-start: author;
	grid-row-end: author;
    grid-column-start: author;
    grid-column-end: author;
color: black;
font: 400 .625rem roboto condensed,Arial,sans-serif;
letter-spacing: 2px;
text-transform: uppercase;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
