*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: poppins;
  background-size: cover;
  background-image: ;
  background-attachment: fixed;
  background-position: center center;
  background-color: black;
}
.wrapper {
	width: 100%;
	margin: 0px 0px;
	background-color: #262626;
}
.wrapper h1 {
	font-family: FV ALMELO;
	text-align: center;
	padding: 15px;
	color: whitesmoke;
	font-size: 75px;
	border-bottom: 2px solid #0310EA;
}
.menu-area {
	margin-bottom: 1rem;
	border-bottom: 2px solid #0310EA;
}
.menu-area ul {
	background: #262626;
	list-style: none;
	position: relative;
	text-transform: uppercase;
	text-align: center;
}

.menu-area ul li {
	display: inline-block;
}
.menu-area ul li a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 15px 35px;
	font-weight: bold;
}
.menu-area ul li:hover{
	background: deepskyblue;
}
.menu-area ul li:hover > ul{
	display: block;
}
.menu-area ul ul{
	display: none;
	position: absolute;
	top: 100%;
	background: #262626;
	text-align: left;
}
.menu-area ul ul li{
	position: relative;
	display: block;
	border-bottom: 1px solid #fff;
	width: 210px;
}

iframe {/*border: 2px solid blue;*/
float: right;
margin: ;
}

@supports (display: grid) {
	
  main { 
    max-width: 10000px;
    margin: 0px 10%;
  }
  article {
    margin: 0;
  }
  
  
  
  
  .deals {
    display: grid;
    grid-template-columns: /*repeat(auto-fit, minmax(*/80%, 1fr;
	grid-template-rows: 1fr;
    grid-gap: 1rem;
  }
}
  
.deals {
  font-family: Avenir, Roboto, Helvetica, san-serif; 
  font-size: 80%;
  border: 2px red;
}

.sale-item:hover {background-color: #bfbfbf;
}
/*style for the top box*/

 article {
    margin: 0;
  }
.topbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
	margin-bottom: 1rem;
  }
}
  
.topbox {
  font-family: Avenir, Roboto, Helvetica, san-serif; 
  font-size: 80%;
  border: 2px red;
}
.sale-item {
	/*display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 2rem;*/
  display: flex;
  flex-direction: row;
  /*flex-flow: column;*/
  /*border: 3px solid red;*/
  border-radius: ;
  padding: 0px;
  background-color: white;
}

.sale-item > h1 {
  margin: 1rem 1rem 0;
  text-align: center;
}
.sale-item > ul {
  margin: ;
}
.sale-item > p {
  margin: ;
  padding: 20px;
  font-size: 70px;
}
.sale-item > img {
  order: -1;
  align-self: left;
  height: ;
  object-fit: cover;
}
.indextext{
	background-color: #262626;
	display: inline-block;
	float: right;
	padding: 40px 10px 10px 10px;
	text-align: left;
	color: whitesmoke;
	font-size: 20px;

}
.indextextbody{
	background-color: #262626;
	display: inline-block;
	float: right;
	padding: 40px 10px 10px 0px;
	text-align:left ;
	color: #bfbbb4;
}
.indextext > p{
	font-size: 15px;
}
.title {
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	float: right;
}
/*box-sizing: border-box
display: block
float: none
line-height: 28px
position: static
z-index: auto*/