{% extends 'layout.html' %}
{% block head %}
    <link href="/static/css/flexgridblock.css" rel="stylesheet" type="text/css" />
{% endblock %}
    
{% block content %}	
<main class="deals">
	<article class="sale-item">
		
		<div><iframe width="560" height="315" src="https://www.youtube.com/embed/SB51-X2fiRs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class = "indextext"><h1> Episode 1: Mortal Kombat Reboot Trailer Review </h1>
		<span class = "author">February 28, 2021</span>
		<p class = "indextextbody">In this episode Mat gives his take on the long-awaited trailer for the Mortal Kombat reboot.  </p> </div>
	</article>
  
  <a href = "https://www.outkick.com">
	<article class="sale-item">
		
		<div><iframe width="560" height="315" src="https://www.youtube.com/embed/4ZceaOc_V9M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class = "indextext"><h1>Episode 2: The DC failure </h1>
		<span class = "author"> March 1, 2021</span>
		<p class = "indextextbody"> Not only has the DC universe failed to compete with its MCU universe, it now thinks that re-released old movies will help reinvigorate it's fan base. </p> </div>
		
	</article>
  </a>
  <article class="sale-item">
		
		<div><iframe width="560" height="315" src="https://www.youtube.com/embed/-FZ-pPFAjYY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class = "indextext"><h1> Episode 3: Cautious Optimism of The Batman </h1>
		<span class = "author">February 28, 2021</span>
		<p class = "indextextbody"> Another iteration of the caped crusader seems completely unneccessary, especially since the departure of Ben Affleck. </p> </div>
	</article>
  <a href = "https://www.outkick.com">
	<article class="sale-item">
		
		<div><iframe width="560" height="315" src="https://www.youtube.com/embed/odM92ap8_c0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class = "indextext"><h1> Episode 4: Kong vs Godzilla Trailer Review </h1>
		<span class = "author">February 28, 2021</span>
		<p class = "indextextbody">In this episode Mat gives his take on the long-awaited trailer for the Mortal Kombat reboot. </p> </div>
	</article>
	</a>
  </a> 
  {% endblock %}
 </main>
 </body>