{% extends 'layout.html' %}

{% block head %}
<link href="/static/css/reviews.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<main class="deals">
  {% for review in reviews %}
    <a href = "{{ url_for('full', id=review.id) }}">
	    <article class="sale-item">
	    	<h1>{{ review.title }}</h1>
		    <p>{{ review.sub_title }}</p>
		    <img class = "pic2" src="{{ review.url }}" alt="You get: a white computer with matching peripherals">
		    <span class = "author"> {{ review.name }}</span>
	    </article>
    </a>
  {% endfor %}
</main>
{% endblock %}
	
	<footer>
        <div class="contact">
            <a href="#" class="contact_us"> Contact Us</a>
        </div>
        <div class="social_links">
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </footer>
</body>
</html>